body{
	background-color: #002d4b;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3{
	font-family: 'Oswald', sans-serif;
}
h1{
	font-size:25px;
}
h2{
	font-size:20px;
}
a{
	color: #004b43;
}
#navlist{
	padding-left: 0;
	margin-left: 0;
	margin-top: -10px;
}
#navlist li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
#navlist li a{
	text-decoration: none;
}
ul #active a{
	text-decoration: underline;
}
.title{
	text-align: center;
	font-size: 32px;
	text-decoration: none;
}
#date{
	margin-top: -20px;
	text-align: center;
}
#container{
	background-color: #f0f0f0;
	width:800px;
	border-style: solid;
	border-color: #8097a6;
	border-width: 10px;
	border-top-width: 0;

	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#pages{
	padding-left: 0;
	margin-left: 0;
}
#pages a{
	text-decoration: none;
}
#pages li{
	text-align: center;
	color: white;
	width: 20px;
	height: 20px;
	display: inline-block;
	list-style-type: none;
	background-color: #002d4b;
	border-style: solid;
	border-color: #8097a6;
	border-width: 2px;
}
body ul #current{
	border-color: #002d4b;
	background-color: #8097a6;
}
li p{
	padding-right: 100px;
}