<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Oscar's Blog</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="container"</div>
        <h1 class="title">Oscar's Blog</h1>
        <hr>
        <ul id="navlist">
            <li><a href="http://oscarbailey.co.uk">Home</a></li>
            <li id="active"><a href="http://oscarbailey.co.uk/blog/">Blog</a></li>
        </ul>
        {% for post in posts %}
            <h1 class="title">{{ post.title }}</h1>
            <p id="date">{{ post.time_created }}</p>
            {{ post.content }}
            <hr>
        {% endfor %}
        <p>Pages:</p>
        <ul id="pages">
            {% if page.left_arrow %}<a href="index.html"><li>←</li></a>{% endif %}
            {% for pagenumber in page.visible_pages %}
                {% if pagenumber == 1 %}<a href="index.html">{% else %}<a href="page{{ pagenumber }}.html">{% endif %}
                    <li {% if pagenumber == page.current_page %}id="current"{% endif %}>{{pagenumber}}</li>
                </a>
            {% endfor %}
            {% if page.right_arrow %}<a href="page{{ page.total_pages }}.html"><li>→</li></a>{% endif %}
        </ul>
    </div>

  </body>
</html>